{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>App Golang Example</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Golang Mysql Curd Example</h1>   
{{ end }}